
body {
  background-color: #101010;
}
.profile_picture {
  height: 30%;
  width: 30%;
  margin-left: 35%;
  margin-bottom: 0%;
  margin-top: 10%;
  border-radius: 50%;
  
}
.name {
  margin-left: 0%;
  margin-bottom: 20%;
  font-size: 160%;
  color: white;
}
.shound {
  font-size: 90%;
  width: 100%;
  margin-top: 60px;
  color: white;
  text-align: right;
}
.icon {
  height: 35px;
  width: 35px;
  margin-left: 35%;
}
.wash {
  margin: auto;
}
.facebook-icon {
 height: 15%; 
  width: 15%;
  margin: 1%;
  margin-top: 30%
}
.youtube-icon {
 height: 15%; 
  width: 15%;
  margin: 1%;
   margin-top: 30%
}
